<div class="w-full h-auto overflow-hidden border-b-[1px] border-gray-200 border-solid">
  <div class="w-full flex items-center justify-between">
    <p class="text-blue-700 text-sm my-1">Thể thao</p>
    <p class="mt-4 mb-2 text-gray-400 text-sm">7 phút trước</p>
  </div>
  <p>
    <a href="#">SEA Games 31 thi đấu sòng phẳng, gây ấn tượng mạnh từ những khán đài đầy ắp khán giả</a>
    <% if(showImage){ %>
      <img
            class="w-full max-h-56 object-cover my-2"
            src="https://cdnmedia.baotintuc.vn/Upload/XjfgEPYM30O8z6jY3MHxSw/files/2022/05/2305/nu.jpg"
            alt="seagame 31"
          />
    <% } %>
  </p>
  <p class="text-sm mt-1 mb-4 line-clamp-5 text-gray-500">
    Từ những lo ngại về ảnh hưởng của dịch bệnh đến một kỳ đại hội đầy thành công, Trưởng đoàn thể thao Việt Nam Trần Đức Phấn khẳng định: SEA Games 31 với những khán đài đầy ắp khán giả, những kỷ lục mới, trở thành nơi hội tụ những ngôi sao thể thao Đông Nam Á và điểm đến gắn kết người hâm mộ khu vực.
  </p>
</div>
